.active{
	color: #339900 !important;	
	background: #CCFF99 !important;
}

table.selitykset{
    table-layout: fixed;
    width: 200px;
}
table.selitykset > tr >td{
    overflow: hidden;
    width: 100px;
}

table tbody tr > td.eivastattu {
	background-color: #989898 !important;
}

table tbody tr > td.parhaiten {
	background-color: #009900 !important;
}

table tbody tr > td.eisovi {
	background-color: #CC0000 !important;
}

table tbody tr > td.sopii {
	background-color: #FFCC33 !important;
}

table tbody tr > td.entieda {
	background-color: #FF99CC !important;
}

table tbody tr > td.kysy {
	color: blue !important;
	text-decoration: underline;
}
nav > * {
	background-color: #FFFFFF !important;
	border-color: #FFFFFF !important;
}

.btn-default {
	color: #0099CC;
	border-radius:0;
	padding:3px 5px;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
	border-radius:0;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #FF3333;
    box-shadow: none;
}

.admin {
	border: 10px solid #FFFFFF;
	border-radius:20px;
	padding: 20px 40px;
	padding-top:5px;
	padding-bottom:50px;
	border-color:red;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }



.detailBox {
    width:320px;
    border:1px solid #bbb;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
/*.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
*/
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList ul {
    margin:0;
    margin-top:10px;
}
.commentList ul > div {
    display:table-cell;
}

.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
