table tr.active{
	color: #339900 !important;
}

table tbody tr > td.parhaiten {
	background-color: #009900 !important;
}

table tbody tr > td.eisovi {
	background-color: #CC0000 !important;
}

table tbody tr > td.sopii {
	background-color: #FFCC33 !important;
}

table tbody tr > td.kysy {
	color: blue !important;
	text-decoration: underline;
}
